body {
    padding-top: 50px;
}

.header-row {

}

.header-cell {
    text-align: center;
    /*background-color: lightyellow;*/
}

.month-name-gregorian {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.month-name-hijri {
    color: maroon;
    font-weight: bold;
    font-size: 1.5em;
}

.week-days-cell {
    background-color: #F5F4D3;
    font-family: Verdana, serif;
    text-align: center;
    width: 10%;
    font-weight: bold;
}

.week-days-row {

}

.date-row {
    background-color: #E0E0E0;
}

.date-cell {
    text-align: center;
}

.empty-cell {
    background-color: #999999;
}

.date-gregorian {

}

.date-hijri {

}